/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-giu-2014, 18.03.36
    Author     : davide
*/

body{
    font-family: Roboto, verdana;

}



footer{
    display:block;
    height: 70px;
}

#logo {
    height: 75px;
    padding-left: 90px;
    padding-top: 25px;
    margin-bottom: 15px;
    font-family: verdana;
    color: #3d3f7c;
    font-size: 14px;
    background-image: url(../img/logo.png);
    background-position: top left;
    background-repeat: no-repeat;
    float: left;
}


#title{
    margin-left: 30px;
    color: #3d3f7c;
    float: left;
}

#title h1{
    color: #3d3f7c;
    margin: 0px;
}

#stripes{
    height:0px;
    width: 100%;
    border-top: 10px solid #9e1616;
    border-bottom: 10px solid #3d3f7c;
    clear: both;
}

#select-model{
    float:right;
}

#depth {
    margin-right: 10px;
}

.ui-menu { position: absolute; max-width: 300px; z-index: 1000;}

.tip-title{
    border: 1px solid black;
    background-color: white;
}

.file-view{
    max-height: 350px;
    overflow-y: auto;
}

.file-view {
    list-style: none;

}

.file-view > li.folder-open:before{
    font-family: 'Glyphicons Halflings';
    content: "\e118";
    margin-right: 5px;
}

.file-view > li.folder-close:before{
    font-family: 'Glyphicons Halflings';
    content: "\e117";
    margin-right: 10px;
}

.folder-open  li { 
    list-style: none;
    padding: 0px;
}

.folder-open ul{
    padding-left: 20px;
}

.folder-open  li:before{
    font-family: 'Glyphicons Halflings';
    content: "\e022";
    margin-right: 10px;
}

.file a:link, .file a:visited, .file a:hover{
    color: black;
    padding-left: 2px;
    padding-right: 2px;
}

.file-selected a:link, .file-selected a:visited, .file-selected a:hover{
    color: white;
    background-color: #428bca;
    padding-left: 2px;
    padding-right: 2px;
}
